{% extends 'layout.html' %}
{% from "formhelper.html" import render_field %}
{% block body %}
    <div class="row">
        <div class="col">
            <h3>Create product</h3>
        <form method="POST" action="">
            <div class="form-group">
                {{ render_field(create_product.author) }}
                {{ render_field(create_product.description) }}
                {{ render_field(create_product.discount) }}
                {{ render_field(create_product.isbn) }}
                {{ render_field(create_product.title) }}
                {{ render_field(create_product.price) }}
                {{ render_field(create_product.units_in_stock) }}
                {{ render_field(create_product.language) }}
                {{ render_field(create_product.number_of_pages) }}
                {{ render_field(create_product.publicer) }}
                    <select name="selected_category">
                        {% for i in create_product.categories %}
                            <option value="{{ i['Category_ID'] }}">{{ i['Name'] }}</option>
                        {% endfor %}
                    </select>
                </div>
            {{ create_product.submit(class="btn btn-primary btn-sm") }}
        </form>
    </div>
        <div class="col">
            <h3>Create product</h3>
            <form method="POST" action="">
                <div class="form-group">
                    {{ render_field(create_category.name) }}
                    {{ render_field(create_category.description) }}
                    {{ create_product.submit(class="btn btn-primary btn-sm") }}
                </div>
            </form>
        </div>
    </div>
{% endblock %}