{% extends 'layout.html' %}

{% block body %}
    <div class="container">
        <h1>Category</h1>
        <section>

            <div class="carousel">
               {% for i in data %}
                <h3>{{i['Name']}}</h3>
                {% endfor %}
            </div>
            <article>

                {% for category in data %}
                    <ul>
                        <li><a href="..\product\{{ category['Product_ID']}}">Title: {{category.Title}}</a></li>
                        <li>Author: {{category.Author}}</li>
                        <li>Price: {{category.Price}} SEK</li>
                        <li>Units in Stock: {{category.UnitsInStock}}</li>
                        <li>Pages: {{category.NumberOfPages}}</li>
                        <li>Publisher: {{category.Publicer}}</li>
                        <li>Language: {{category.Language}}</li>
                        <a href="..\addItem\{{category['Product_ID']}}"> <button class="cartButton">Add to cart</button> </a>
                        <a href="..\addcheckout\{{category['Product_ID']}}"> <button>Buy Now</button> </a>
                    </ul>

                {% endfor %}
            </article>

        <div>

        </div>

        </section>
    </div>
<style>
    table{
        width:100%;
    }
    td, th {
        border:1px solid #dddddd;
        text-align:left;
        padding:8px;
    }
</style>
{% endblock %}