{% extends 'layout.html' %}
{% from "formhelper.html" import render_field %}
{% block body %}
    <div class="container">
        <h1>Checkout</h1>
        <section>

            <div class="carousel">
                {% for i in accountBalance %}
               <p> Your current saldo is {{i['AccountBalance']}} </p>
                {% endfor%}

            </div>

            {% for cartItem in data %}
                <div class="col-sm-4">
                <h3>Product</h3>
                    <ul>
                        <li>Title {{cartItem.Title}}</li>
                        <li>Author {{cartItem.Author}}</li>
                        <li>Price {{cartItem.Price}}</li>
                        <li>Quantity {{cartItem.Quantity}} </li>
                        <li>Product {{cartItem.Product_ID}}</li>
                        <a href="..\removeproduct\{{cartItem['Product_ID']}}"> <button>Remove product</button></a>
                    </ul>
                </div>
            {% endfor %}
            {% for i in accountBalance %}
            <a href="..\purchase\{{i['Product_ID']}}"><button class="purchase">Purchase</button></a>
            {% endfor %}

        </section>
        <style>
            .purchase {
                margin-left:50%;
                margin-right:50%;
                border-radius:10px;
                font-size:30px;
                background-color:red;
            }
            .carousel {
                font-style:italic;
            }
        </style>
    </div>
<style>

</style>
{% endblock %}