{% extends 'layout.html' %}
{% from "formhelper.html" import render_field %}
{% block body %}
    <div class="container">
        <h1>Checkout</h1>
        <section>

            <div class="carousel">

               <p> Your current saldo is {{accountBalance}} SEK</p>


            </div>

            {% for cartItem in data %}
            <article class="card card-body" style="width: 20rem;">
                <a href="..\product\{{ cartItem['Product_ID']}}"><h5 class="card-title">{{cartItem.Title}}</h5></a>
                <p class="card-text">Author: {{cartItem.Author}}</p>
                <p class="card-text">Price: {{cartItem.Price}} SEK</p>
                <div class="row">
                    <div class="mx-auto "><a href="..\removeproduct\{{cartItem['Product_ID']}}">
                       <button class="btn btn-primary">Remove product</button>
                    </a></div>

                </div>
            </article>
            {% endfor %}
            <h2>Total: {{ total_sum }} sek</h2>
            <div class="text-center">
            <a href="..\purchase\{{total_sum}}" ><button class="btn btn-primary">Purchase</button></a>
            </div>


        </section>

    </div>
<style>

</style>
{% endblock %}