{% extends 'layout.html' %}

{% block body %}
    <div class="container">
        <h1>Checkout</h1>
        <section>

            <div class="carousel" role="listbox" style="max-height:300px">
                <h3></h3>

            </div>
            <article>
                {% for cartItem in data %}
                    <ul>
                        <li>{{cartItem.Author}}</li>
                    </ul>
                {% endfor %}
            </article>
        </section>

    </div>
<style>

</style>
{% endblock %}