{% extends 'layout.html' %}

{% block body %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                    <div class="alert alert-success" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <p>
        Lore ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse volutpat quis lorem ac molestie. Nam
        pharetra purus mauris, vel molestie augue malesuada nec. Lorem ipsum dolor sit amet, consectetur adipiscing
        elit. Fusce ullamcorper felis pretium velit imperdiet, in sagittis neque faucibus. Morbi ut sapien eu erat
        commodo tincidunt. Nam mollis, ipsum laoreet imperdiet rhoncus, quam ante posuere sem, in mollis magna lacus
        eget dui. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc nec
        diam nec augue lacinia imperdiet.

        Vestibulum vel turpis ut urna elementum cursus. Duis massa velit, elementum a est a, facilisis interdum mi.
        Aliquam sed metus quis tellus faucibus venenatis feugiat eu turpis. In hac habitasse platea dictumst.
        Suspendisse dignissim maximus est. Proin ac lorem rutrum, aliquet libero hendrerit, cursus ipsum. Vivamus eu
        egestas quam. Nam porttitor efficitur placerat. Mauris quis velit rutrum, interdum diam et, congue ipsum. Nullam
        accumsan venenatis vehicula. Quisque sollicitudin sem finibus lectus iaculis pharetra. Mauris sit amet porttitor
        neque. Aliquam blandit justo nec metus ullamcorper, eget hendrerit metus sagittis. Ut consectetur in tortor eu
        lobortis.

        In hac habitasse platea dictumst. Curabitur scelerisque justo in eros lacinia auctor. Aliquam bibendum consequat
        nisi, eget semper mi luctus pretium. Vestibulum quis neque in elit mattis maximus. Sed tincidunt mi non enim
        vulputate, non congue elit blandit. Proin quis nisl id risus porta finibus. Curabitur tincidunt urna iaculis,
        efficitur felis et, hendrerit eros. Cras at elementum lacus. Morbi dignissim fermentum sapien sed volutpat. Sed
        dictum malesuada neque, sit amet accumsan quam rutrum ac. Nulla sit amet risus justo.

        Aenean lobortis dui eget imperdiet placerat. Quisque eleifend odio eget orci sodales sagittis. Aliquam erat
        volutpat. In fringilla pellentesque mauris, eu finibus tortor consequat sit amet. Suspendisse magna mi, euismod
        at fermentum a, molestie tristique velit. Sed sed sagittis mauris. In vitae augue consectetur, viverra risus eu,
        congue nibh. In at nulla ipsum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc imperdiet
        ligula sit amet nunc tincidunt hendrerit. Suspendisse sit amet leo porta, aliquet tellus vitae, fermentum nulla.
        Quisque auctor nec velit sed efficitur. Praesent vel laoreet nulla, et tristique velit.

        Curabitur nibh ipsum, posuere ut viverra id, dapibus suscipit leo. Etiam dignissim mauris vitae ante hendrerit,
        non molestie justo imperdiet. Fusce blandit a tellus imperdiet feugiat. Nunc at sagittis dui. Donec eu risus
        volutpat, tristique justo eget, rutrum ante. Fusce sed lectus eleifend, luctus nibh eu, gravida justo. Donec.
    </p>
{% endblock %}