{% extends 'layout.html' %}

{% block body %}

    <div class="container">
        <div class="row">
            <!-- SIDEBAR COLUMN -->
            <div class="col-3">
                <h2>Categories</h2>
                <div>
                    {% for categories in categories %}
                        <article>
                            <div>
                                <div>
                                    <a href="..\category\{{categories['Category_ID']}}" id="{{ categories.Category_ID }}" class="list-group-item list-group-item-action">
                                        {{ categories.Name }}

                                    </a>
                                </div>
                            </div>
                        </article>
                    {% endfor %}
                </div>
            </div>

            <!-- CONTENT -->
            <div class="col-9">
                <h1 class="text-center">Welcome to our Book Shop!</h1>
                <div class="text-center">
                    <h2>New Releases</h2>
                    {% for products in products %}
                            <div>
                                <div>
                                    <a href="category.html">
                                        <button type="button" class="btn btn-dark">{{ products.Title }}</button>
                                    </a>
                                    <p>{{ products.Author }}</p>
                                    <p>{{ products.Description }}</p>
                                </div>
                            </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!--<div class="jumbotron">-->
{% endblock %}