{% extends 'layout.html' %}

{% block body %}
    <div class="jumbotron text-center">
    <h1>Welcome to our Book Shop!</h1>
    <h2>Categories</h2>
    {% for categories in categories %}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <a href="category.html" id="{{ categories.Category_ID }}">
                        <button type="button" class="btn btn-dark">{{ categories.Name }}</button>
                    </a>
                    <p>{{ categories.Description }}</p>
                </div>
            </div>
        </article>
    {% endfor %}
    <h2>New Releases</h2>
    {% for products in products %}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <a href="category.html">
                        <button type="button" class="btn btn-dark">{{ products.Description }}</button> <!-- SKALL VARA TITEL -->
                    </a>
                    <p>{{ products.Author }}</p>
                    <p>{{ products.Description }}</p>
                </div>
            </div>
        </article>
    {% endfor %}
    </div>
{% endblock %}