{% extends 'layout.html' %}
{% from "formhelper.html" import render_field %}

{% block body %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Order number</th>
            <th scope="col">Created</th>
            <th scope="col">Shipped to: Address</th>
            <th scope="col">City</th>
        </tr>
        </thead>
        <tbody>
        {% for item in order_details %}
            <tr>
                <th scope="row">
                    <a href="{{ url_for('order_product', order_id=item['Order_ID']) }}">
                        <div>
                            {{ item['Order_ID'] }}
                        </div>
                    </a>
                </th>
                <td>
                    {{ item['Date'] }}
                </td>

                <td>{{ item['Address'] }}</td>
                <td>{{ item['City'] }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}