{% extends 'layout.html' %}
{% from "formhelper.html" import render_field %}


{% block body %}
    <div class="container text-center">

        <div class="carousel">
            <p></p>
            <h1>{{ data['Title'] }}</h1>
        </div>

        <article class=" text-center">
            <h4>{{ data['Description'] }}</h4>

            <div class="row">
                <div class="col-4"></div>
                <div class="col-4 align-center">
                    <ul class="list-group">
                        <li class="list-group-item">Author: {{ data['Author'] }}</li>
                        <li class="list-group-item">Category: <a href="..\category\{{ data['Category_ID'] }}"
                                                                 id="{{ data['Category_ID'] }}">{{ data.Name }}</a>
                        </li>
                        <li class="list-group-item">Price: {{ data['Price'] }} SEK</li>
                        <li class="list-group-item">Units in Stock: {{ data['UnitsInStock'] }}</li>
                        <li class="list-group-item">Pages: {{ data['NumberOfPages'] }}</li>
                        <li class="list-group-item">Publisher: {{ data['Publicer'] }}</li>
                        <li class="list-group-item">ISBN: {{ data['ISBN'] }}</li>
                        <li class="list-group-item">Language: {{ data['Language'] }}</li>
                        <p></p>

                        <div class="row">
                         <!--   <div class="mx-auto">
                                <a href="..\addItem\{{ data['Product_ID'] }}">
                                    <button class="btn btn-primary">Add to cart</button>
                                </a>
                            </div> -->
                            <div class="mx-auto">
                                <a href="..\addcheckout\{{ data['Product_ID'] }}">
                                    <button class="btn btn-primary">Buy Now</button>
                                </a>
                            </div>
                        </div>
                    </ul>

                </div>
                <div class="col-4"></div>
            </div>
        </article>
        <p></p>


        <table class="table">
            <thead>
            <tr>
                <th scope="col">First name</th>
                <th scope="col">Last name</th>
                <th scope="col">Review</th>
                <th scope="col">Rating</th>
            </tr>
            </thead>
            <tbody>
            {% for data in reviews %}
                <tr>
                    <td>{{ data['FirstName'] }}</td>
                    <td>{{ data['LastName'] }}</td>
                    <td>{{ data['Review'] }}</td>
                    <td>{{ data['Rating'] }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <h1>Reviews</h1>
        <h3>Make a review</h3>
        <form method="POST" action="">
            <div class="form-group">
                {{ render_field(form.rating) }}
                {{ render_field(form.review) }}
                <a href="{{ url_for('index') }}">
                    <button class="btn btn-primary">Make Review</button>
                </a>
            </div>
        </form>
    </div>
{% endblock %}