{% extends 'layout.html' %}

{% block body %}
    <div class="container">
        <h1>Product</h1>
        <section>

            <div class="carousel">
               {% for i in data %}
                <h3>{{i['Name']}}</h3>
                {% endfor %}
            </div>
            <article>

                {% for product in data %}
                    <ul>
                        <li>Title: {{product.Title}}</li>
                        <li>Author: {{product.Author}}</li>
                        <li>Price: {{product.Price}} SEK</li>
                        <li>Units in Stock: {{product.UnitsInStock}}</li>
                        <li>Pages: {{product.NumberOfPages}}</li>
                        <li>Publisher: {{product.Publicer}}</li>
                        <li>Language: {{product.Language}}</li>
                        <a href="..\addItem\{{product['Product_ID']}}"> <button class="cartButton">Add to cart</button> </a>
                        <a href="..\addcheckout\{{product['Product_ID']}}"> <button>Buy Now</button> </a>
                    </ul>

                {% endfor %}
            </article>

        <div>

        </div>

        </section>
    </div>
<style>
    table{
        width:100%;
    }
    td, th {
        border:1px solid #dddddd;
        text-align:left;
        padding:8px;
    }
</style>
{% endblock %}