{% extends 'layout.html' %}
{% from "formhelper.html" import render_field%}

{% block body %}
    <p>This is the registration page</p>
    <form method="POST" action="">
        <div class="form-group">
            {{render_field(form.first_name)}}
            {{render_field(form.last_name)}}
            {{render_field(form.email)}}
            {{render_field(form.phone)}}
            {{render_field(form.city)}}
            {{render_field(form.postal_code)}}
            <button type="submit" class="btn btn-primary btn-sm">Register</button>
        </div>
    </form>
{% endblock %}